.modal__container {
  width: 600px;
  background: rgba(31, 32, 44, 1);
  overflow: hidden;
  padding: 10px;
  border-radius: 2px;
  z-index: 501;

  .modal__header {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: 600;
  }
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}