.header {
  height: 40px;
  width: calc(100% - 20px);
  background: rgba(35, 37, 50, 1);
  border-bottom: 1px solid rgba(40, 48, 60, 1);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px;

  .header-stats {
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: auto;
  }

  .header-stat {
    margin: 0 0 0 20px;
    display: flex;
    flex-direction: column;
  }

  .stat-type {
    text-align: center;
    color: #5e6177;
    line-height: 1rem;
  }

  .stat-value {
    text-align: center;
    margin: 0;
    font-weight: 200;
    font-size: 1.5rem;
  }
}