.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  height: 100%;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.menu-item--notification-error {
  animation: blinker .5s step-end infinite alternate;
}
@keyframes blinker { 50% { background: #ec5252; } }

@media screen and (min-width: 768px) {
  .slideout-panel {
    margin-left: 256px;
  }

  .slideout-menu {
    display: block;
  }

  .slideout__button {
    display: none;
  }
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.menu__dock {
  background-color: rgba(31, 32, 44, 1);
}

.gear-icon {
  width: 18px;
  height: 18px;
  padding: 8px 6px 6px 6px;
}

.button {
  background: transparent;
  border: none;
  outline: none;

  &:hover {
    background: rgba(30, 104, 187, 1);
  }
}